.Icon-filters {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        margin-top: -40px;
}

.custom-icon {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: 10px;
}

.filter-adjuster{
        height: 85px;
}

.search-bar {
        width: 100%;
        display: flex;
        justify-content: center;

}

.slider {
        width: 92%;
}

.custom-right-arrow {
        position: absolute !important;
        right: 30px;
        z-index: 1;
        border: 1px solid grey;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        opacity: 0.6;
        cursor: pointer;
        transform: rotate(-45deg);
}

.custom-right-arrow:hover {
        opacity: 1;
}

.custom-left-arrow {
        position: absolute !important;
        left: 5px;
        z-index: 1;
        border: 1px solid grey;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        opacity: 0.6;
        cursor: pointer;
        transform: rotate(135deg);
}



.custom-left-arrow:hover {
        opacity: 1;
}

@media screen and (max-width: 1300px) {
        .filter-text {
                display: none;
        }
}

@media screen and (max-width: 650px) {
        .custom-left-arrow {
                display: none;
        }
        .custom-right-arrow {
                display: none;
        }
}

.icon-style-a {
        font-size: 1.8rem;
}

.icon-style-b {
        font-size: 2.2rem;
}

.icon-style-c {
        font-size: 1rem;
}

@media screen and (max-width: 450px) {
        .Icon-filters {
                flex-direction: column;
        }
        /* .filter-text {
                display: inline;
        } */
        .button-17{
                margin: auto;
                margin-top: 15px;
        }
        .icon-style-a {
                font-size: 1.6rem;
        }
        .icon-style-b {
                font-size: 2.0rem;
        }
        .icon-style-c {
                font-size: 0.7rem;
        }
}



/* CSS */
.button-17 {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans", Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform, opacity;
        z-index: 0;
        margin-right: 15px;
}

.button-17:hover {
        background: #F6F9FE;
        color: #fb501a;
}

.button-17:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
}

.button-17:focus {
        outline: none;
        border: 2px solid #fb501a;
}

.button-17:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
        box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
        box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* CSS */
.button-77 {
        z-index: 50;
        bottom: 10px;
        align-items: center;
        appearance: none;
        background-clip: padding-box;
        background-color: initial;
        background-image: none;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        flex-direction: row;
        flex-shrink: 0;
        font-family: Eina01, sans-serif;
        font-size: 16px;
        font-weight: 800;
        justify-content: center;
        line-height: 24px;
        margin: auto;
        min-height: 64px;
        outline: none;
        overflow: visible;
        padding: 19px 26px;
        pointer-events: auto;
        position: fixed;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        width: auto;
        word-break: keep-all;
        /* z-index: 0; */
}

@media (min-width: 768px) {
        .button-77 {
                padding: 19px 32px;
        }
}

.button-77:before,
.button-77:after {
        border-radius: 80px;
}

.button-77:before {
        background-color: rgba(249, 58, 19, .32);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
}

.button-77:after {
        background-color: initial;
        background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
        bottom: 4px;
        content: "";
        display: block;
        left: 4px;
        overflow: hidden;
        position: absolute;
        right: 4px;
        top: 4px;
        transition: all 100ms ease-out;
        z-index: -1;
}

.button-77:hover:not(:disabled):after {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
        color: #ccc;
}

.button-77:active:not(:disabled):after {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
        bottom: 4px;
        left: 4px;
        right: 4px;
        top: 4px;
}

.button-77:disabled {
        cursor: default;
        opacity: .24;
}


@font-face {
        font-family: Proxima Nova;
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
        font-weight: 300;
        font-style: normal;
}

@font-face {
        font-family: Proxima Nova;
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: Proxima Nova;
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
        src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
        font-weight: 700;
        font-style: normal;
}


/* .search-box {
        font-size: 30px;
        padding: 0px 19px;
        border: 1px solid #C1C1C1;
        background-color: white;
        width: 9.8em;
        border-radius: 10px;
        transition: .2s
}

.search-box:hover {
        border-color: #AAAAAA;
}

.search-box:focus-within {
        border-color: #FF0080;
        box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
}

.search-input {
        font-family: Proxima Nova;
        letter-spacing: -0.2px;
        font-size: 30px;
        border: none;
        color: #323232;
}

.search-button:hover {
        cursor: pointer;
}

.search-input:focus {
        outline: none;
}

.search-input[type='search']::-webkit-search-cancel-button {
        -webkit-appearance: none;
}

.clear:not(:valid)~.search-clear {
        display: none;
} */

/* body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
}
 */
.Search input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #fa4717;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
}

.Search input[type=text]:focus {
        outline: none;
        /*to remove the focus outline in chrome */
        width: 300px;
}