.sup-items{
    height: 8rem;
    margin-bottom: 1rem;
}
.img-1,.img-2,.img-3{
    height: 100%;
}
/* @media (min-width: 576px){
    .sup-cont{
        width: 80%;
    }
}
@media (min-width: 768px){
    .sup-cont{
        width: 60%;
    }
} */
@media (min-width: 992px){
    .img-1,.img-2,.img-3,.card-1{
        height:30rem;
    }
    .imagesFront{
        width: 70%;
    }
    .findUnits{
        width: 30%;
    }
    
}

#carousel-container{
    display: flex;
    width: auto;
    justify-content: center;
    /* background-color: aliceblue; */
}
.carouselMain{
    display: flex;
    justify-content: center;
}
.carousel .slide{ background: none; }

/* .headerClass{
    width: 40rem;
    margin: auto;
    margin-bottom: 5rem;
}

.textBox{
    text-align: center;
}

.heading{
    color: #ffc601;
}

.cardStyle{
    width: 20rem;
    margin-left: 3rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: rgb(240, 240, 216);
    box-shadow: 0.4rem 0.4rem 1rem rgb(123, 119, 119);
    justify-content: center;
}

.profileStyle{
    margin-left: 5.7rem;
    border-radius: 10rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.para{
    font-size: 0.75rem;
}

.companyName{
    font-size: 0.9rem;
}

.nameSize{
    font-size: 1.5rem;
}

.iconStyle{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.clientStyle{
    flex-wrap: wrap;
} */

.bothUnits{
    flex-wrap: wrap;
    margin-left: 3rem;
}

.warehouseImages{
    width: 60rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}


.nextPage{
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%
}

.frontCar-items:hover{
    cursor: pointer;
}

@media (max-width: 1245px) {
    .bothUnits{
        margin-right: 3rem;
    }
    .warehouseImages{
        width: 100%;
    }
    .nextPage{
        width: 100%;
    }
}

@media (min-width: 1245px){
    .bothUnits{
        /* display: grid; */
        width: 95%;
        padding-right: 2rem;
    }
    .warehouseImages{
        width: 100%;
        margin-right: 2rem;
    }
}

@media (max-width: 632px) {
    .headerClass{
        width: 100%;
    }
}

.frontCar-items{
    font-size: 2.5rem;
    position: relative; 
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: #141414;
    border-radius: 0.5rem;
}

.frontCar-itemsText{
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 9;
    border-radius: 0.5rem;
}


@media (max-width: 999px) {
    .frontCar-itemsImg{
        height: 29rem;
        object-fit: fill;
        opacity: 0.7;
        border-radius : 0.5rem;
    }
}


@media (max-width: 600px) {
    .frontCar-itemsImg{
        height: 15rem;
        object-fit: fill;
        opacity: 0.7;
        border-radius : 0.5rem;
    }
}

@media (min-width: 1000px) {
    .frontCar-itemsImg{
        height: 38rem;
        object-fit: fill;
        opacity: 0.7;
        border-radius : 0.5rem;
    }
}


@media (max-width: 471px) {
    .frontCar-items{
        font-size: 1rem;
    }
    .bothUnits{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* .clientsBar{
    justify-content: center;
}

@media (max-width: 483px) {
    .cardStyle{
        width: 15rem;
        margin-left: 1.2rem;
    }
    .profileStyle{
        margin-left: 3.2rem;
        margin-bottom: 0.5rem;
    }
    .iconStyle{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    .companyName{
        font-size: 0.7rem;
    }
    .nameSize{
        font-size: 1.2rem;
    }
    .para{
        font-size: 0.69rem;
    }
}

@media (max-width: 472px) {
    .responsiveWarehouseFontH5{
        font-size: 500px;
    }
    .responsiveWarehouseFontH1{
        font-size: 500px;
    }
}

@media (min-width: 1382px) {
    .clientsBoxDesignMargin{
        margin-left: 5rem;
    }
}

@media (max-width: 1214px) {
    .clientsBoxDesignMargin{
        margin-left: 5rem;
    }
}

@media (max-width: 866px) {
    .clientsBoxDesignMargin{
        margin-left: 8rem;
    }
}

@media (max-width: 635px) {
    .clientsBoxDesignMargin{
        margin-left: 5rem;
    }
}

@media (max-width: 519px) {
    .clientsBoxDesignMargin{
        margin-left: 3rem;
    }
}

@media (max-width: 479px) {
    .clientsBoxDesignMargin{
        margin-left: 5rem;
    }
}

@media (max-width: 399px) {
    .clientsBoxDesignMargin{
        margin-left: 2rem;
    }
} */

.benifitsBar{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: 5px 5px 10px #141414;
    /* background-image: url("/images/warehouseimg1.jpg"); */
    background-color: beige;
}

.benifitsHeading{
    font-size: 1.5rem;
    color: rgb(255,198,1);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.benifitsSubunitsHeading{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(250,121,75);
    text-align: center;
    margin-bottom: 1rem;
}

.benifitsSubunitsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.benifitsSubunit{
    width: 30rem;
    padding: 2rem;
    /* border: 2px solid red; */
}

.benifitsSubunitsPoints{
    font-size: 0.9rem;
}

@media (max-width: 950px) {
    .benifitsSubunitsContainer{
        flex-direction: column;
    }
    .benifitsSubunit{
        width: 100%;
        padding: 2rem;
    }
}