.cardStorageBody {
  height: fit-content !important;
}

.boxX {
  margin-top: 20px;
}

.cardX {
  border: none;
  background-color: transparent !important;
  border: none !important;
}
.cardHeaderX {
  border: none;
  background-color: transparent !important;
  border-bottom: none !important;
}

.warehouseCarousel {
  height: 450px !important;
}

.carousel-inner {
  border-radius: 0.75rem !important;
}

.carousel-item {
  background-color: black;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0;
}

.carousel-control-prev-icon {
  color: black !important;
  background-color: white !important;
  border-radius: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 30 15' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
  height: 2rem;
  width: 2rem;
}

.carousel-control-next-icon {
  color: black !important;
  background-color: white !important;
  border-radius: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 30 15' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  height: 2rem;
  width: 2rem;
}

.carousel-indicators button {
  display: none;
}

.carousel-indicators {
  display: none;
}

.visually-hidden {
  display: none;
}

.imgSquare {
  border-radius: 0.75rem !important;
  height: 225px;
  border: 2px solid;
  margin-top: 5px;
}

/* css for boxes of warehouses */
/* 
.grid td {
  width: 100px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid orange !important;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: 0.7;
  cursor: pointer;
}

.reserved {
  background: orange !important;
  color: #fff;
  display: inline-block;
}

.available {
  color: #333 !important;
}

li {
  list-style: none;
} */
