footer {
    /* margin-top: 100vw !important; */
    background-color: #ffd8a0;
    padding: 40px 0px 40px;
    width: 100vw;

}

.footer-link ul li a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    padding: 8px 0px;
    display: block;
}

.copyright {
    margin-bottom: 20px;
}

.copyright {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.footer-bottom li a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    padding: 8px 0px;
    display: block;
}
