:root {
    --main: #FFD166;
    --secondary: #800080;
    --tertiary: #;
    --light: white;
    --dark: black;
}

/* .main {
  width: 70%;
  max-width: 800px;
  margin: auto;
  padding: 5%;
  border-radius: 10px;
  border: solid 3px var(--secondary);
  box-shadow: 5px 5px 0 var(--secondary);
} */

.container_box {
    display: flex;
    justify-content: space-between;
}

.jumboX {
    width: 98%;
    /* max-width:100%; */
    margin: auto;
    padding: 5%;
    border-radius: 10px;
    border: solid 3px var(--secondary);
    box-shadow: 5px 5px 0 var(--secondary);
}
