.carousel-indicators button{
    display: none;
    height: 8px !important;
    width: 8px !important;
    border-radius: 50% !important;
    margin-left: 8px; 
    margin-right: 8px;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
.carousel-control-prev-icon{
    color: black !important;
    background-color: white !important;
    border-radius: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 30 15' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
    color: black !important;
    background-color: white !important;
    border-radius: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 30 15' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}
