* {

    margin: 0;
    padding: 0;
}

.bar {
    font-family: sans-serif;
    width: 650px;
    background: white;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: auto;
    height: 55px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.43;
    margin-left: 20%;
    margin-bottom: 1%;
}

.bar div {
    border-radius: inherit;
    padding: 0.8rem 1.5rem;
    transition: background 250ms ease;
}

.bar div:hover {
    background: hsl(0 0% 94%);
}

.location {
    width: 32%;
}

.bar p {
    margin-bottom: -1rem;
}

.bar input {
    margin-top: 10px;
    margin-bottom: -1rem;
}

.check-in,
.check-out{
    width: 18%;
}

.warehouse{
    width: 32%;
}
input[type="text"] {
    background: none;
    border: none;
    padding: 0.2rem 5rem 0 0;
}

input[type="text"]:focus {
    outline: none;
}

::placeholder {
    font-size: 1rem;
}

.warehouse {
    position: relative;
}

.warehouse span svg {
    height: 1.5em;
    width: 1.5em;
}

.warehouse span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #FF385C;
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem;
    border-radius: 50%;
}

.bar>div {
    position: relative;
}

.bar>div::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 55%;
    background: hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before {
    background: transparent;
}

.bar>div:hover::before {
    background: transparent;
}
