.nav-item a {
  font-size: 4.1rem;
  color: #343a40;
}

.nav-item a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

.nav-item .cart-basket {
  font-size: 1rem;
  position: absolute;
  top: 0px;
  right: 8px;
  top: -2px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none !important;
}

@media (min-width: 992px) {
  .listSpaceBT{
    flex-direction: row;
  }
  .hello{
    margin-bottom: 15vh;
  }
}
@media (max-width: 991px) {
  .listSpaceBT{
    flex-direction: column;
  }
  .listSpaceButtonStyle{
    color: gray;
  }
  .posCart{
    margin-right: 100rem;
  }
  .hello{
    margin-bottom: 18vh;
  }
}

.listSpaceButtonStyle{
  color : gray; 
  font-size : 1rem;
}

.listSpaceButtonStyle:hover{
  color: orange;
}

.stayTunedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.stayTunedTypewriter {
  color: #f36d3e;
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

/* .dropdownMenu{
  background-color: #fa4717;
} */

@media (max-width: 991px) {
  .navBarSearch{
    margin-left: 1.3rem;
  }
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(to right, #fdc830, #f37335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

@media (max-width: 991px) {
  .cartSmallScreenNav{
    width: 86.8%;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .smallScreenCart{
    display: none;
  }
}