.nav-item a {
  font-size: 4.1rem;
  color: #343a40;
}

.nav-item a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

.nav-item .cart-basket {
  font-size: 1rem;
  position: absolute;
  top: 0px;
  right: 8px;
  top: -2px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none !important;
}

@media (min-width: 992px) {
  .listSpaceBT{
    flex-direction: row;
  }
}
@media (max-width: 991px) {
  .listSpaceBT{
    flex-direction: column;
  }
  .listSpaceButtonStyle{
    color: gray;
  }
  .posCart{
    margin-right: 100rem;
  }
}

.listSpaceButtonStyle{
  color : gray; 
  font-size : 1rem;
}

.listSpaceButtonStyle:hover{
  color: orange;
}

.stayTunedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
  font-weight: bold;
}

.stayTunedTypewriter {
  color: #f36d3e;
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

.dropdownMenu{
  background-color: #fa4717;
}

@media (max-width: 991px) {
  .navBarSearch{
    margin-left: 1.3rem;
  }
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}